@font-face {
  font-family: RobotoFlex;
  src:
    local("RobotoFlex"),
    url("/assets/fonts/RobotoFlex.woff2") format("woff2 supports variations"),
    url("/assets/fonts/RobotoFlex.woff2") format("woff2-variations"),
    url("/assets/fonts/RobotoFlex.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 50% 200%;
}

:root {
  --accent-color: #411583;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: RobotoFlex, Roboto, sans-serif;
  font-size: 14px;
  background: #8685a2;
  background: linear-gradient(45deg, #c1b9d3 0%, #8685a2 100%) no-repeat;
  background-attachment: fixed;
}

.container {
  position: relative;

  & .player {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 350px;
    background: #fff;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);

    & .cover {
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      width: 350px;
      height: 350px;
      padding: 0.3rem 1rem;
      color: #fff;
      background-image: url("./assets/vinyl.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: fill;
      box-sizing: border-box;

      & .lines {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
        height: 42px;

        & .line {
          background: #fff9;
          transition: all 0.5s;
        }
      }

      & > :not(.lines) {
        z-index: 1;
      }
    }

    & .controls {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 1rem;

      & .pause {
        display: none;
      }
    }

    & .progress {
      width: 100%;
      background: #666;
      cursor: pointer;

      & .bar {
        height: 10px;
        width: 0;
        background: var(--accent-color);
        pointer-events: none;
      }
    }
  }

  & .playlist {
    position: absolute;
    z-index: 1;
    top: 1rem;
    right: 0;
    background: #ececf3;
    padding: 1rem;
    counter-reset: playlist-item;
    transition: all 0.8s ease-out;

    &.show {
      transform: translateX(100%);
    }

    & > div {
      counter-increment: playlist-item;
      border-bottom: 1px solid #c1b9d3;
      padding: 0.2rem;
      cursor: pointer;
    }

    & > ::before {
      content: counter(playlist-item) ".";
      margin-right: 0.5rem;

      &.active {
        color: var(--accent-color);
        font-weight: bold;
      }
    }
  }

  & .list-buttons {
    position: absolute;
    z-index: 2;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    & > svg {
      color: #fffd;
      margin: 1rem;

      &.hide {
        display: none;
      }
    }
  }
}

.btn {
  cursor: pointer;
}

.fancy-text {
  font-variation-settings:
    "wght" 400,
    "wdth" 100,
    "opsz" 144,
    "GRAD" 0,
    "slnt" 0,
    "XTRA" 323,
    "XOPQ" 96,
    "YOPQ" 79,
    "YTLC" 416,
    "YTUC" 760,
    "YTAS" 854,
    "YTDE" -305,
    "YTFI" 738;
}
